<div class="foot" id="footer">
  <ul class="links ft">
    <li class="links_item"><a href="https://www.tencent.com/zh-cn/index.html" target="_blank">关于腾讯</a></li>
    <li class="links_item"><a href="https://developers.weixin.qq.com/miniprogram/introduction/index.html?t=1484641676" target="_blank">文档中心</a></li>
    <li class="links_item"><a href="https://mp.weixin.qq.com/cgi-bin/opshowpage?action=dispelinfo&amp;lang=zh_CN&amp;begin=1&amp;count=9"
        target="_blank">辟谣中心</a></li>
    <li class="links_item"><a href="https://kf.qq.com/product/wx_xcx.html" target="_blank">客服中心</a></li>
    <li class="links_item"><a href="mailto:weixinmp@qq.com" target="_blank">联系邮箱</a></li>
    <li class="links_item">
      <p class="copyright">Copyright © 2012-<span id="s_copyright_year"></span> Tencent. All Rights Reserved.</p>
    </li>
  </ul>
</div>