<div class="book-body">
      <div class="body-inner">
        <div class="page-wrapper" tabindex="-1" role="main">
          <div class="page-inner">
            <div id="book-search-results">
              <div class="search-noresults">
                <section class="normal markdown-section">
                  <h1>用户</h1>
                  <h3>用户注册</h3>
                  <p>POST：/User/Register</p>
                  <table>
                    <thead>
                      <tr>
                        <th>参数名称</th>
                        <th>类型</th>
                        <th>是否必填</th>
                        <th>描述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="https://developers.weixin.qq.com/miniprogram/dev/framework/config.html#pages">channelType</a></td>
                        <td>Number</td>
                        <td>是</td>
                        <td>商户类型</td>
                      </tr>
                      <tr>
                        <td><a href="https://developers.weixin.qq.com/miniprogram/dev/framework/config.html#window">code</a></td>
                        <td>String</td>
                        <td>是</td>
                        <td>微信code</td>
                      </tr>
                      <tr>
                        <td><a href="https://developers.weixin.qq.com/miniprogram/dev/framework/config.html#tabbar">mobile</a></td>
                        <td>String</td>
                        <td>是</td>
                        <td>手机</td>
                      </tr>
                    </tbody>
                  </table>
                  <!--  -->
                  <p><strong>入参示例：</strong></p>
                  <pre>
<code class="language-javascript">{
  <span class="hljs-attr">code</span>: <span class="hljs-string">'061UWai90Pm3Aw1Y9Kh90dZ6i90UWaiy'</span>, <span class="hljs-comment">//仅为示例，并非真实的接口地址</span>
  <span class="hljs-attr">channelType</span>: <span class="hljs-string">10007</span>, 
  <span class="hljs-attr">mobile</span>: <span class="hljs-string">"15216707627"</span>, 
}</code>
</pre>
                  <!--  -->
                  <p><strong>出参示例：</strong></p>
<pre>
<code class="language-javascript">{
  <span class="hljs-attr">msgCode</span>: <span class="hljs-string">100</span>, <span class="hljs-comment">//仅为示例，并非真实的接口地址</span>
  <span class="hljs-attr">msg</span>: <span class="hljs-string">"Success"</span>, 
  <span class="hljs-attr">data</span>:{
    <span class="hljs-attr">userId</span>:<span class="hljs-string">"115331740742915458"</span>, 
    <span class="hljs-attr">mobile</span>:<span class="hljs-string">"13671518573"</span>, 
    <span class="hljs-attr">headImageUrl</span>:<span class="hljs-string">"https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eqkzIA7jsbA5fdVmM8TicNrUhaksmB9nNZmvRuX0CnR2SciadXZPNvdUgcNWuicGSuLKO6Htib0kV5dTA/132"</span>, 
    <span class="hljs-attr">nickName</span>:<span class="hljs-string">"shidj"</span>, 
  }
}</code>
</pre>
                </section>
              </div>
              <!-- <div class="search-results">
                <div class="has-results">
                  <h1 class="search-results-title">
                    <span class="search-results-count"></span> 个结果 "<span class="search-query"></span>"
                  </h1>
                  <ul class="search-results-list"></ul>
                </div>
                <div class="no-results">
                  <h1 class="search-results-title">
                    没有找到相关内容 "<span class="search-query"></span>"
                  </h1>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <% include footer.ejs %>
      </div>




      <a href="https://developers.weixin.qq.com/miniprogram/dev/framework/MINA.html" class="navigation navigation-next navigation-unique"
        aria-label="下一页: 框架" style="margin-right: 6px;">
        <i class="fa fa-angle-right"></i>
      </a>



    </div>