<!DOCTYPE html>
<!-- saved from url=(0049)https://developers.weixin.qq.com/miniprogram/dev/ -->
<html lang="">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>简易教程 · 小程序</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="微信小程序文档">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://developers.weixin.qq.com/miniprogram/assets/images/apple-touch-icon-precomposed-152.png?t=18082220">
  <link rel="shortcut icon" href="https://developers.weixin.qq.com/miniprogram/assets/images/favicon.ico?t=18082220" type="image/x-icon">

  <link rel="stylesheet" href="/style.css">

  <link rel="next" href="https://developers.weixin.qq.com/miniprogram/dev/framework/MINA.html">
</head>

<body>

  <div class="book with-summary with-header">

    <% include components/header.ejs %>

    <% include components/sidebar.ejs %>

    <% include components/body.ejs %>

  <audio controls="controls" style="display: none;"></audio></body>

</html>