<div class="book-summary">
  <div class="book-summary-home" id="js-summary-home">
    <a>
      <span class="icon_home_s icon_dev"></span>
      <span class="s_title_2">开发文档首页</span>
    </a>
  </div>
  <nav role="navigation">


    <ul class="summary">





      <li class="chapter active open" data-level="1.1.1" data-path="." data-name="基础"><a href="https://developers.weixin.qq.com/miniprogram/dev/">基础</a>
        <ul class="articles">
          <li class="chapter active" data-level="1.1.1.1" data-path="." data-name="起步"><a href="https://developers.weixin.qq.com/miniprogram/dev/">用户</a>
            <ul class="articles">
              <li class="chapter"><a href="https://developers.weixin.qq.com/miniprogram/dev/#%E7%94%B3%E8%AF%B7%E5%B8%90%E5%8F%B7">用户注册</a></li>
              <li class="chapter"><a href="https://developers.weixin.qq.com/miniprogram/dev/#%E7%94%B3%E8%AF%B7%E5%B8%90%E5%8F%B7">用户登录</a></li>
            </ul>
          </li>
          <li class="chapter active" data-level="1.1.1.1" data-path="." data-name="起步"><a href="https://developers.weixin.qq.com/miniprogram/dev/">门店信息</a>
            <ul class="articles">
              <li class="chapter"><a href="https://developers.weixin.qq.com/miniprogram/dev/#%E7%94%B3%E8%AF%B7%E5%B8%90%E5%8F%B7">查询附近的门店</a></li>
              <li class="chapter"><a href="https://developers.weixin.qq.com/miniprogram/dev/#%E7%94%B3%E8%AF%B7%E5%B8%90%E5%8F%B7">门店详情</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="chapter" data-level="1.1.2" data-path="./demo.html" data-name="体验小程序"><a href="https://developers.weixin.qq.com/miniprogram/dev/demo.html">体验小程序</a></li>
















      <li class="divider"></li>
    </ul>


  </nav>
</div>