<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>堆叠表单</h2>
        <form method="POST" action="">
            <div class="form-group">
                <label for="user">用户名:</label>
                <input type="text" class="form-control" name="user" id="user" placeholder="请输入用户名" ">
            </div>
            <div class="form-group ">
                <label for="pwd ">密码:</label>
                <input type="password " class="form-control" name="pwd" id="pwd " placeholder="请输入密码 ">
            </div>
            <button type="submit " class="btn btn-primary">登陆</button>
            <button type="submit " class="btn btn-primary">注册</button>
        </form>
    </div>
</body>

</html>