<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  body {
    text-align: center;
    padding-top: 200px;
  }
</style>

<body>
  <form action="" method="POST">
    导航名称:<br>
    <input type="text" name="name" value="小程序官方api">
    <br> 主类:<br>
    <input type="number" name="pid" value="">
    <br> 导航栏排序<br>
    <input type="number" name="rank" value="">
    <br> 是否显示导航<br>
    <input type="radio" name="is_hide" value="1" checked>是
    <input type="radio" name="is_hide" value="0">否
    <br> 是否显示内容<br>
    <input type="radio" name="is_display" value="1" checked>是
    <input type="radio" name="is_display" value="0">否
    <br>
    <input type="submit" value="提交">
    <br><br>
  </form>
</body>

</html>